<div class="profile-wrapper">
  <div class="background-wrapper">
    <img src="{{backgroundImage}}" alt="" class="background-image">
  </div>
  <div class="user-wrapper">
    <div class="avatar-wrapper">
      <img
        src="{{avatar}}"
        alt="" class="user-avatar">
    </div>
    <div class="data-wrapper">
      <div class="wrapper-item">
        <span class="wrapper-title">姓名: </span>
        <span class="wrapper-content">{{name}}</span>
      </div>
      <div class="wrapper-item">
        <span class="wrapper-title">電話: </span>
        <span class="wrapper-content">{{phone}}</span>
      </div>
      <div class="wrapper-item">
        <span class="wrapper-title">性別: </span>
        <span class="wrapper-content">{{gender}}</span>
      </div>
      <div class="wrapper-item">
        <span class="wrapper-title">生日: </span>
        <span class="wrapper-content">{{birth}}</span>
      </div>
    </div>
    <div class="edit-button-wrapper">
      <a href="/v1/user/edit">
        <button class="edit-button">
          編輯
        </button>
      </a>
    </div>
  </div>
</div>